.ow-forecast {
  width: $mainWidth;
  margin: 0 auto;
  overflow: hidden;
  .ow-weather-info, .ow-day-hours {
    width: $mainWidth;
    float: left;
  }
  .ow-heading {
    margin-bottom: 40px;
    color: #666;
    font-family: $typ1;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
  }

  @media (max-width: 479px) {
    width: $mainWidthSML;
  }
}



