$color1: rgba(45, 17, 82, 0.7) !default;
$color2: cadetblue !default;
$color3: lightslategrey !default;
$color4: whitesmoke !default;
$color5: darkslategrey !default;
$color6: rebeccapurple !default;
$color7: ghostwhite !default;
